
/* for XXL Screen  */

@media ( max-width: 1399px) and ( min-width: 1200px){


}

/* for XL Screen  */

@media ( max-width: 1199) and ( min-width: 992px){

    section .container2 h1 + h2 + div{
        justify-content: center;
    }
    
}

/* for L Screen  */

@media ( max-width: 991px) and ( min-width: 768px){

    
}

/* for M Screen */

@media ( max-width: 767px) and ( min-width: 576px){

   .nav{
    flex-direction: column;
    gap: 30px;
    align-items: center;
   }

   
   .logo ul li a:hover{
    
    padding-bottom: 20px;
    
}

.logo ul li:nth-child(1) a{
   
    padding-bottom: 20px;
    
}

}

/* for S Screen  */

@media ( max-width: 575px) and ( min-width: 1px){

    .logo ul{
        display: none;
    }

    input[type="checkbox"]:checked ~ ul li{
        display: block;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
    }
}